body {
    background-color: lightblue;
    padding: 30px;
    text-align: center;
    background-image : url('https://i.namu.wiki/i/mIx9Ql3s3OgP3tXw62Npe2cv3pWPmTBHC8g49i4fV4GUq4nA3YeaFYh-3lWaTSOkdp_3vv1HGThjKHOUHvqryYD5GdnC4b3coHoT-VORyxDD6dcA3__30Fc5yMxJlJb0by8FOQVVM5BKSzsryDik4Q.webp');
}
p {
    color: aqua;
}